{% for job in jobs %}
    <div class="job">

        <div class="row">
            <div class="title col-xs-12 col-sm-9 col-md-10">
                <a href="{{ path('job_show', {'slug': job.slug} ) }}"><h3>{{ job.title }}</h3></a>
            </div>
            <div class="date col-xs-12 col-sm-3 col-md-2">
                <div class="date"><b>{{ job.createdAt ? job.createdAt|date('d-m-Y') : '' }}</b></div>
            </div>
        </div>

        <div class="row">
            <div class="company col-sm-12"><i class="bi bi-building" ></i> {{ job.company.name }}</div>
            <div class="address col-sm-12"><i class="bi bi-geo-alt" ></i> {{ job.address }}</div>
        </div>
        
        <div class="row">
            <div class="description col-sm-12 text-muted">{{ job.description[:120] ~ '...'}}</div>
        </div>

        <div class="row">
            <div class="link col-sm-12">
                <a class="btn btn-info" href="{{ path('job_show', {'slug': job.slug}) }}">Afficher ...</a>
            </div>
        </div>

    </div><hr>
{% endfor %}
