{% extends 'layout.html.twig' %}

{% block title %}Job{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container-fluid">
    
        <div class="title">
            <h3>{{ job.title }}</h3>
        </div>

         <div class="company">
            <i class="bi bi-building" ></i> {{ job.company.name }}
        </div>

    
        <div class="address">
            <i class="bi bi-geo-alt" ></i> {{ job.address }}
        </div>

    
        <div class="createdAt">
            {{ job.createdAt ? job.createdAt|date('d-m-Y') : '' }}
        </div>

        <div class="row ">
            <div class="postsNumber col-md-4 col-lg-2">
                <label for=""><b>Nombre de postes</b></label>
                <p>{{ job.postsNumber }}</p>
            </div>

            <div class="type col-md-4 col-lg-2">
                <label for=""><b>Type d'emploi</b></label>
                <p>{{ job.type }}</p>
            </div>

            <div class="experienceMin col-md-4 col-lg-2">
                <label for=""><b>Experice</b></label>
                <p>de {{ job.experienceMin }} à {{ job.experienceMax }} ans</p>
            </div>
        
            <div class="educationLevel col-md-4 col-lg-2">
                <label for=""><b>Niveau d'Etude</b></label>
                <p>{{ job.educationLevel }}</p>
            </div>

            <div class="requiredLanguages col-md-4 col-lg-2">
                <label for=""><b>Langues</b></label>
                <p>{{ job.requiredLanguages }}</p>
            </div>

        </div>

        {% if app.user %}
            {% if app.user.seeker %}
                {% if job not in app.user.seeker.applyedJobs %}
                    <div class="apply_btn ">
                        <a class="btn btn-primary" href="{{ path('seeker_apply_job', { 'job': job.id }) }}">Postuler</a>
                    </div>
                {% else %}
                    <div class="apply_btn ">
                        <button class="btn btn-success" href="#" data-toggle="tooltip" data-placement="right" title="You already applyed for this job" disabled>Sent</button>
                    </div>
                {% endif %}

            {% elseif app.user.company %}
                <div class="apply_btn ">
                    <button class="btn btn-primary" href="#" data-toggle="tooltip" data-placement="right" title="Only seekers can apply for job" disabled>Postuler</button>
                </div>
            {% else %}
                <div class="apply_btn ">
                    <button class="btn btn-primary" href="#" data-toggle="tooltip" data-placement="right" title="update your profile to apply" disabled>Postuler</button>
                </div>
            {% endif %}
                
        {% else %}
            <div class="apply_btn ">
                <button class="btn btn-primary" href="#" data-toggle="tooltip" data-placement="right" title="connect as seeker account" disabled>Postuler</button>
            </div>
        {% endif %}
        
        <div class="jobInfo ">
            <b>{{ job.seekersApplyed | length }}</b> candidats pour <b>{{ job.postsNumber }}</b> posts
        </div>

        <div class="description">
            <b>Description</b>
            <p class="text-muted">{{ job.description }}</p>
        </div>
    
        <div class="requirements">
            <b>Requirements</b>
            <p class="text-muted">{{ job.requirements }}</p>
        </div>

    
        <div class="expireAt">
            <b>Date d'expiration</b>
            <p>{{ job.expireAt ? job.expireAt|date('d-m-Y') : '' }}</p>
        </div>

    </div>
    
{% endblock %}
