{% extends 'layout.html.twig' %}

{% block title %}Job{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 ">
                <div class="title">
                    <h3>{{ job.title }}</h3>
                </div>
                {% if app.user is same as job.getCompany.getUser %}
                    <div class="actions d-inline-flex">
                        <a class="btn btn-warning btn-sm mr-1" 
                            href="{{ path('job_edit', {'slug': job.slug}) }}">Edit</a>
                        {{ include('job/_delete_form.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="company">
                    <i class="bi bi-building" ></i> {{ job.company.name }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="address">
                    <i class="bi bi-geo-alt" ></i> {{ job.company.address }}
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col">
                <div class="createdAt">
                    <i class="bi bi-calendar-date" ></i> {{ job.createdAt ? job.createdAt|date('d-m-Y') : '' }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="postsNumber col-md-4 col-lg-2">
                <div class="col">
                    <b class="row">Nombre de postes</b>
                    <label class="row">{{ job.postsNumber }}</label>
                </div>
            </div>

            {% if job.type %}
                <div class="type col-md-4 col-lg-2">
                    <div class="col">
                        <b class="row">Type d'emploi</b>
                        <label class="row">{{ job.type }}</label>
                    </div>
                </div>
            {% endif %}

            {% if job.experienceMin is not null %}
                <div class="experienceMin col-md-4 col-lg-2">
                    <div class="col">
                        <b class="row">Experience</b>
                        <label class="row">
                            de {{ job.experienceMin }} 
                            {% if job.experienceMax %}
                                à {{ job.experienceMax }} ans
                            {% endif %}
                        </label>
                    </div>
                </div>
            {% endif %}

            {% if job.educationLevel %}
                <div class="educationLevel col-md-4 col-lg-2">
                    <div class="col">
                        <b class="row">Niveau d'Etude</b>
                        <label class="row">{{ job.educationLevel }}</label>
                    </div>
                </div>
            {% endif %}

            {% if job.requiredLanguages %}
                <div class="requiredLanguages col-md-4 col-lg-2">
                    <div class="col">
                        <b class="row">Langues</b>
                        <label class="row">{{ job.requiredLanguages }}</label>
                    </div>
                </div>
            {% endif %}
        </div>

        {% if app.user %} {# if there is a seeker/company logined #}
            {% if app.user.seeker %} {# if there is a seeker logined #}
                {% if job not in app.user.seeker.applyedJobs %}
                    <div class="apply_btn ">
                        <a class="btn btn-primary" href="{{ path('seeker_apply_job', { 'job': job.id }) }}">Postuler</a>
                    </div>
                {% else %}
                    <div class="apply_btn ">
                        <button class="btn btn-success" href="#" data-toggle="tooltip" data-placement="right" title="You already applyed for this job" disabled>Sent</button>
                    </div>
                {% endif %}
            {% elseif app.user.company %} {# if there is a company logined #}
                <div class="apply_btn ">
                    <button class="btn btn-primary" href="#" data-toggle="tooltip" data-placement="right" title="Only seekers can apply for job" disabled hidden>Postuler</button>
                </div>
            {% else %}
                <div class="apply_btn ">
                    <button class="btn btn-primary" href="#" data-toggle="tooltip" data-placement="right" title="update your profile to apply" disabled>Postuler</button>
                </div>
            {% endif %}
        {% else %} {# if it's a guest (no one logined) #}
            <div class="apply_btn ">
                <span id="popover" class="d-inline-block" data-toggle="popover" data-content="connect as seeker account to apply">
                    <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Postuler</button>
                </span>
            </div>
        {% endif %}
        
        <div class="jobInfo ">
            <b>{{ job.seekersApplyed | length }}</b> candidats pour <b>{{ job.postsNumber }}</b> posts
        </div>

        <div class="description">
            <b>Description</b>
            <p class="text-muted text-justify">{{ job.description | raw}}</label>
        </div>
    
        <div class="requirements">
            <b>Requirements</b>
            <p class="text-muted">{{ job.requirements | raw }}</label>
        </div>

    
        <div class="expireAt">
            <b>Date d'expiration</b>
            <label>{{ job.expireAt ? job.expireAt|date('d-m-Y') : '' }}</label>
        </div>

    </div>
    
{% endblock %}
