{% extends 'layout.html.twig' %}

{% block title %}GeneralInformation index{% endblock %}

{% block body %}
    <h1>GeneralInformation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Photo</th>
                <th>Motivation</th>
                <th>Address</th>
                <th>Region</th>
                <th>PostalCode</th>
                <th>HaveDrivingLicence</th>
                <th>OwnACar</th>
                <th>Phone</th>
                <th>Phone2</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for general_information in general_informations %}
            <tr>
                <td>{{ general_information.id }}</td>
                <td>{{ general_information.photo }}</td>
                <td>{{ general_information.motivation }}</td>
                <td>{{ general_information.address }}</td>
                <td>{{ general_information.region }}</td>
                <td>{{ general_information.postalCode }}</td>
                <td>{{ general_information.haveDrivingLicence ? 'Yes' : 'No' }}</td>
                <td>{{ general_information.ownACar ? 'Yes' : 'No' }}</td>
                <td>{{ general_information.phone }}</td>
                <td>{{ general_information.phone2 }}</td>
                <td>
                    <a href="{{ path('general_information_show', {'id': general_information.id}) }}">show</a>
                    <a href="{{ path('general_information_edit', {'id': general_information.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('general_information_new') }}">Create new</a>
{% endblock %}
