{% extends 'base.html.twig' %}

{% block title %}ProfessionalInterest index{% endblock %}

{% block body %}
    <h1>ProfessionalInterest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Level</th>
                <th>JobType</th>
                <th>WantedOccupation</th>
                <th>WantedSalary</th>
                <th>ActualStatus</th>
                <th>FindMeByCompany</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for professional_interest in professional_interests %}
            <tr>
                <td>{{ professional_interest.id }}</td>
                <td>{{ professional_interest.level }}</td>
                <td>{{ professional_interest.jobType }}</td>
                <td>{{ professional_interest.wantedOccupation }}</td>
                <td>{{ professional_interest.wantedSalary }}</td>
                <td>{{ professional_interest.actualStatus }}</td>
                <td>{{ professional_interest.findMeByCompany ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('professional_interest_show', {'id': professional_interest.id}) }}">show</a>
                    <a href="{{ path('professional_interest_edit', {'id': professional_interest.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('professional_interest_new') }}">Create new</a>
{% endblock %}
