{% extends 'base.html.twig' %}

{% block title %}ProfessionalInterest{% endblock %}

{% block body %}
    <h1>ProfessionalInterest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ professional_interest.id }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ professional_interest.level }}</td>
            </tr>
            <tr>
                <th>JobType</th>
                <td>{{ professional_interest.jobType }}</td>
            </tr>
            <tr>
                <th>WantedOccupation</th>
                <td>{{ professional_interest.wantedOccupation }}</td>
            </tr>
            <tr>
                <th>WantedSalary</th>
                <td>{{ professional_interest.wantedSalary }}</td>
            </tr>
            <tr>
                <th>ActualStatus</th>
                <td>{{ professional_interest.actualStatus }}</td>
            </tr>
            <tr>
                <th>FindMeByCompany</th>
                <td>{{ professional_interest.findMeByCompany ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('professional_interest_index') }}">back to list</a>

    <a href="{{ path('professional_interest_edit', {'id': professional_interest.id}) }}">edit</a>

    {{ include('professional_interest/_delete_form.html.twig') }}
{% endblock %}
