{% extends 'layout.html.twig' %}

{% block title %}Training{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="title">
                <h3>{{ training.title }}</h3>
            </div>
        </div>

        <div class="row">
            <div class="company">
                <i class="bi bi-building" ></i> {{ training.company.name }}
            </div>
        </div>

        <div class="row">
            <div class="address">
                <i class="bi bi-geo-alt" ></i> {{ training.address }}
            </div>
        </div>

        <div class="row">
            <div class="createdAt">
                {{ training.createdAt ? training.createdAt|date('d-m-Y') : '' }}
            </div>
        </div>

        <div class="row">
            <div class="description">
                <b>Description</b>
                <p class="text-muted">{{ training.description }}</p>
            </div>
        </div>

        <div class="row">
            <div class="about">
                <b>A Propos</b>
                <p class="text-muted">{{ training.about }}</p>
            </div>
        </div>
        
    </div>
        
{% endblock %}
